<a href="https://colab.research.google.com/github/InesAnindiyta/ALPROG/blob/main/week_3_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Python of powerful')

Python of powerful

In [ ]:
print('Good Morning! \n ssssss')
print('It is rainly today')

Good Morning!
 ssssss
It is rainly today

In [ ]:
# print with end whitespace
print('Good Morning!', end= ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [ ]:
print('New Year' ,2023,'See you soon!', sep= '*')

New Year*2023*See you soon!

In [ ]:
number = -10.6

name = "Teknologi Informasi"

# print literals
print(5)

# print variabels
print(number)
print(name)

5
-10.6
Teknologi Informasi

In [ ]:
print('Teknologi Informasi ' + 'Universitas Tidar')

Teknologi Informasi Universitas Tidar

In [ ]:
x = 5
y = 10

print('The ')

### LATIHAN 1

In [ ]:
# 1
# Write line to file

with open('sample_data/biodata_ines.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# 2
with open('sample_data/biodata_ines.txt', 'r') as testwritefile:
  for line in testwritefile:
    if "Nama" in line or "Program Studi" in line or "Email" in line:
        print(line.strip())

Nama          : Ines Anindiyta
Program Studi : Teknologi Informasi
Email         : aninanindyta@gmail.com

In [ ]:
#3
with open('sample_data/biodata_ines.txt', 'r') as readfile:
  with open('sample_data/biodata_baru.txt', 'w') as writefile:
    for line in readfile:
              writefile.write(line)

In [ ]:
with open('sample_data/biodata_baru.txt', 'r') as testwritefile:
  for line in testwritefile:
    if "Nama" in line or "Program Studi" in line or "Email" in line:
      print(line.strip())

Nama          : Ines Anindiyta
Program Studi : Teknologi Informasi
Email         : aninanindyta@gmail.com

### LATIHAN 2

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print ("senin, 4 september 2023        13.05")
print (" ")

print ("DAFTAR BELANJA:")
item1 = 'sabun'
item2 = 'shampo'
item3 = 'mie instant'
item4 = 'detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1, '        = Rp ' + str(harga1))
print(item2, '        = Rp ' + str(harga2))
print(item3, '        = Rp ' + str(harga3))
print(item4, '        = Rp ' + str(harga4))

print(" ")
print("Total = Rp " + str(total))

with open('sample_data/kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write(" \n")
        writefile.write("kuitansi - 4 september 2023\n")
        writefile.write(" \n")
        writefile.write(item1 + " = Rp" + str(harga1) + "\n")
        writefile.write(item2 + " = Rp" + str(harga2) + "\n")
        writefile.write(item3 + " = Rp" + str(harga3) + "\n")
        writefile.write(item4 + " = Rp" + str(harga4) + "\n")
        writefile.write(" \n")
        writefile.write("Total Belanja =" + str(total))

Selamat datang di Toko Maju Jaya
senin, 4 september 2023        13.05

DAFTAR BELANJA:
sabun         = Rp 10000
shampo         = Rp 15000
mie instant         = Rp 5000
detergen         = Rp 17500

Total = Rp 47500