<a href="https://colab.research.google.com/github/InesAnindiyta/ALPROG/blob/main/week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Condition Equal

a = 5
a == 6

False

In [ ]:
# Greater than Sign

i = 6
i > 5

True

In [ ]:
# Greater than Sign

i = 2
i > 5

False

In [ ]:
# Inequality Sign

i = 2
i != 6

True

In [ ]:
# Inequality Sign

i = 6
i != 6

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare characters

'B' > 'A'

True

In [ ]:
# Compare characters

'BA' > 'AB'

True

In [ ]:
"ba" >= 'ba'

True

In [ ]:
# If statement example

#age = 19
age = 18

#expression that can be true or false
if age > 18:

    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false
print("move on")

move on

In [ ]:
# Else statement example

#age = 17
age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    #print("move on")

print("move on")

you can enter
move on

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )

print("move on")

go see Pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [ ]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
# Condition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [ ]:
# Condition statement example

album_year = 1984

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

### EXERCISE 1

In [ ]:
# cek_umur.py
umur = int(input("Berapa umur kamu: "))

if umur >= 17:
    print("Kamu boleh membuat SIM")
else:
    print("Kamu belum boleh membuat SIM")

Berapa umur kamu: 17
Kamu boleh membuat SIM

In [ ]:
# cek_umur.py
umur = int(input("Berapa umur kamu: "))

if umur >= 17:
    print("Kamu boleh membuat SIM")
else:
    print("Kamu belum boleh membuat SIM")

Berapa umur kamu: 14
Kamu belum boleh membuat SIM

### EXERCISE 2

In [ ]:
nilai = int(input("masukkan nilai:"))
if nilai >= 90:
    print("Anda mendapatkan grade A")
elif nilai >= 80:
    print("Anda mendapatkan grade B+")
elif nilai >= 70:
    print("Anda mendapatkan grade B")
elif nilai >= 60:
    print("Anda mendapatkan grade C+")
elif nilai >= 50:
    print("Anda mendapatkan grade C")
elif nilai >= 40:
    print("Anda mendapatkan grade D")
else:
    print("Anda mendapatkan grade E")

masukkan nilai:95
Anda mendapatkan grade A

### EXERCISE 3

In [ ]:
nilai = int(input("masukkkan nilai:"))
if 80.00 <= nilai <= 100 :
  print("Anda mendapatkan grade A")
elif 77.50 <= nilai <= 79.99 :
  print("Anda mendapatkan grade A-")
elif 75.00 <= nilai <= 77.49 :
  print("Anda mendapatkan grade A/B")
elif 72.50 <= nilai <= 74.99 :
  print("Anda mendapatkan grade B+")
elif 70.00 <= nilai <= 72.49 :
  print("Anda mendapatkan grade B")
elif 67.50 <= nilai <= 69.99 :
  print("Anda mendapatkan grade B-")
elif 65.00 <= nilai <= 67.49 :
  print("Anda mendapatkan grade B/C")
elif 62.50 <= nilai <= 64.99 :
  print("Anda mendapatkan grade C+")
elif 60.00 <= nilai <= 62.49 :
  print("Anda mendapatkan grade C")
elif 55.00 <= nilai <= 59.99 :
  print("Anda mendapatkan grade C-")
elif 50.00 <= nilai <= 54.99 :
  print("Anda mendapatkan grade C/D")
elif 45.00 <= nilai <= 49.99 :
  print("Anda mendapatkan grade D+")
elif 40.00 <= nilai <= 44.99 :
  print("Anda mendapatkan grade D")
else:
  print("Anda mendapatkan grade E")

masukkkan nilai:51
Anda mendapatkan grade C/D